.double-element-container {
  display: grid;

  .el-back {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;

    color: transparent;
    border-color: transparent;
    background-color: transparent;
  }

  .el-front {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
  }
}
