.double-element-container {
  position: relative;
  display: inline-block;

  .el-back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translate3d(0, 0, 0);

    color: transparent;
  }

  .el-front {
    position: relative;
    z-index: 2;
  }
}
