.modal-portal > * {
  z-index: 5;
}

.modal-overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(60, 60, 60, 0.7);
}

.modal-centered {
  /* Position */
  position: absolute;
  inset: 50% auto auto 50%;
  overflow: auto;
  max-width: 80%;
  outline: none;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  /* Appearance */
  padding: 1em;
  border: 2px solid indigo;
  border-radius: 1em;
  background-color: gold;
  font-family: "Outfit", sans-serif;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;

  .close-btn {
    background-color: transparent;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}
